root {
    --hh: 160px;
}

body {
    background: #F4F4F4;
    --brush_color: #F5A623;
    --brush_size: 50px;
}

#header_bar {
    background: #FFFFFF;
    height: var(--hh);
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

#header_logo {
    margin-top: calc(0.18*var(--hh));
    margin-left: 25%;
    height: calc(0.65*var(--hh));
}

#dropList_img {
    margin-left: 10%;
    margin-top: calc(0.15*var(--hh));
    height: calc(0.36*var(--hh));
}

#info_bar {
    /* Hint：1 word: */
    width: 100%;
    height: calc(0.6*var(--hh));
    font-size: calc(0.30*var(--hh));
    color: #9B9B9B;
}

#info_content {
    float: left;
    padding: 10px 10px 10px 10px;
    font-family: PingFangSC-medium;
}

#timer {
    float: right;
    padding: 10px 10px 10px 10px;
    font-family: PingFangSC-Semibold;
}

#canvas_area {
    width: 100%;
    height: 45vh;
    background: #FFFFFF;
}

#scroll_bar {
    width: 100%;
    height: calc(0.6*var(--hh));
    font-size: calc(0.35*var(--hh));
    background: #E4E4E4;
}

#tool_bar {
    width: 100%;
    height: var(--hh);
    background: #C3C3C3;
}

#tool_bar ul {
    height: var(--hh);
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: auto;
}

#tool_bar ul li {
    float: left;
    width: 20%
}

.tool {
    margin-top: calc(0.15*var(--hh));
    margin-left: calc(0.2*var(--hh));
    height: calc(0.7*var(--hh));
    width: calc(0.7*var(--hh));
    position: relative;
}

.colors {
    margin: 10px 10px 10px 10px;
    padding: 0;
    border-radius: 14px;
}

.row {
    margin: 15px 15px 15px 15px;
}

#color_container {
    display: none;
    width: 100%;
    background: rgba(244, 244, 244, 1);
    position: absolute;
    top: calc(5.2*var(--hh));
}

.rangeslider {
    width: 95%;
    height: calc(0.3*var(--hh));
    margin: 10px 10px 10px 20px;
}

.rangeslider__handle {
    height: calc(0.5*var(--hh));
    width: calc(0.5*var(--hh));
}

.rangeslider__fill {
    background: var(--brush_color);
}

#color_btn {
    background: var(--brush_color);
    border-radius: 14px;
}

#brush_btn {
    background: var(--brush_color);
    border-radius: 50%;
    height: var(--brush_size);
    width: var(--brush_size);
    margin: auto;
    overflow: auto;
    margin-top: calc(0.5*var(--hh) - 0.5*var(--brush_size));
}

#chat_box {
    background: #FFFFFF;
    border: hidden;
    border-radius: 10px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.13);
    width: 80%;
    height: calc(0.6*var(--hh));
    margin-top: calc(0.1*var(--hh));
    margin-left: 10%;
    font-size: calc(0.40*var(--hh));
}

#chat_input {
    border: hidden;
    border-radius: 10px;
    display: inline;
    width: 70%;
}

#chat_btn {
    width: 30%;
    float: right;
    background: #5FA7EA;
    color: #FFFFFF;
    border: hidden;
    border-radius: 10px;
    box-shadow: none;
}

#player_area {
    margin-top: calc(0.2*var(--hh));
    width: 100%;
    font-size: calc(0.2*var(--hh));
}

#player_area ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#player_area ul li ul {
    float: left;
    width: 25%;
    text-align: center;
    color: gray;
}

.user_icon {
    margin-top: calc(0.15*var(--hh));
    height: calc(0.7*var(--hh));
    width: calc(0.7*var(--hh));
}

.user2_icon {
    margin-top: calc(0.15*var(--hh));
    margin-left: calc(0.1*var(--hh));
    height: calc(0.85*var(--hh));
    width: calc(0.85*var(--hh));
}

.user2_block {
    background: #FFFFFF;
    border-radius: 20%;
}