

/*-------------------------------------------------------------------------*/

/*#postGameLayer:after{
	position: relative;
}*/

body{
	color:#fff;
}

hr {
	margin: 0px;
	border: 0; 
	border-top: 1px solid #000;
}

#postGameLayer {
	/*visibility: hidden;*/
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0, 0.7);  /*opacity 0.7*/
	padding-bottom: 60px;
	z-index: 3;
}

#postGamePanel {
	position: relative;
	width:300px;
	height:320px;
	margin-left:35px;
	margin-top:60px;
	padding-top: 3px;
	background-color: rgba(116, 192, 247, 0.9);
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

#postGameTitle {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: -20px;
	text-shadow: 1px 1px 3px rgb(131, 201, 252);
}

.rankRow {
	/*visibility: hidden;*/
	position: relative;
	height:30px;
	margin:3px 5px;
}

.rankNum {
	margin-left: 20px;
	width: 10px;
	line-height: 30px;
}

.rankAvatar {
	position: absolute;
	width:30px;
	height:30px;
	left: 40px;
	top:0px;
}

.avatarImg {
	width:100%;
	height:100%;
	border-radius: 5px;
}

.rankName {
	position: absolute;
	overflow: hidden;
	margin:0 8px;
	word-break:keep-all;
	white-space:nowrap;
	left:70px;
	top:6px;
}

.rankScore {
	position: absolute;
	width:50px;
	top:6px;
	right:0px;
}

#leaveBtn {
	display: block;
	margin:0 auto;
}

#userWorkTitle {
	font-size: 22px;
	margin-left: 10px;
}


#userWorkDesc {
	margin-left: 10px;
	width:355px;
}

#bbsBtn {
	display: block;
	margin-left: 80px;
}

#userWorks {
	/*display: none;*/
}

.userWorkHeader {
	position: absolute;
	bottom:5px;
	left:10px;
	color:#FF5A81;
	font-size: 16px;
}

.userWork img {
	display: block;
	width:375px;
	height:320px;
}




















