html, body {
  height: 100%;
}

.container {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100%;
  width: 100%;
}

table.all {
  height: 100%;
  width: 100%;
}

.btn {
  background-color: #5FA7EA;
  color: white !important;
  font-size: 50px !important;
  padding: 25px !important;
  border-radius: 15px !important;
}

.btn:active, .btn:hover {
  background-color: #3D7EBA;
}

.all > tbody > tr, .all > tbody > tr > td {
  width: 100%;
}

/*------ room info ------*/

.all tr.room-info {
  height: 0;
}

table.room-info {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.10);
  margin-bottom: 25px;
}

table.room-info > tbody > tr > td {
  padding: 25px;
}

table.room-info td.room-icon {
  width: 0;
}

table.room-info img.room-icon {
  width: 125px;
}

table.room-info td.room-id {
  font-size: 50px;
  width: 100%;
  font-weight: bold;
}

table.room-info td.ready {
  width: 0;
}

table.room-info td.border {
  padding-top: 0;
  padding-bottom: 0;
}

table.room-info hr {
  margin: 0;
  border: 1px #DDDDDD solid;
}

table.room-info td.room-member-title {
  font-size: 35px;
  color: #AAAAAA;
  font-weight: bold;
}

table.room-info > tbody > tr > td.room-member {
  padding-top: 0;
  font-size: 35px;
  color: #AAAAAA;
}

table.room-member, table.room-member tr {
  width: 100%;
}

table.room-member td.memberX {
  padding: 5px;
  vertical-align: middle;
  width: 50%;
}

img.user-icon {
  width: 50px;
  margin-right: 25px;
}

/*------ chat ------*/

table.chat {
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.10);
  margin-bottom: 25px;
  table-layout:fixed;
}

table.chat > tbody > tr > td {
  padding: 25px;
}

table.chat > tbody > tr.chat-title {
  font-size: 35px;
  color: #AAAAAA;
  font-weight: bold;
  height: 0;
}

table.chat > tbody > tr.border {
  height: 0;
}

table.chat td.border {
  padding-top: 0;
  padding-bottom: 0;
}

table.chat hr {
  margin: 0;
  border: 1px #DDDDDD solid;
}

table.chat > tbody > tr > td > div.chat-content {
  overflow: scroll;
  white-space:nowrap;
  display: block;
}

.chat-box {
  margin-bottom: 25px;
  word-wrap: break-word;
}

.my-box {
  text-align: right;
}

.chat-box > .box-owner {
  font-size: 25px;
  color: #AAAAAA;
  margin-bottom: 5px;
}

.chat-box > .box-content {
  width: auto;
  padding: 25px;
  background: #EEEEEE;
  border-radius: 15px;
  font-size: 35px;
  display:inline-block;
  max-width: 100%;
}

.my-box > .box-content {
  color: white;
  background: #5FA7EA;
}

/*------ new message ------*/

.all tr.new-message {
  height: 0;
}

table.new-message {
  width: 100%;
}

table.new-message tr td.input-td {
  width: 80%;
}

table.new-message tr td.btn-td {
  width: 20%;
  padding-left: 10px;
}

input#new-message {
  text-align: left;
  width: 100%;
  font-size: 50px;
  padding: 25px;
  border-radius: 15px;
  border: #CCCCCC 3px solid;
}

#btn-send-message {
  width: 100%;
}
